{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/header.html" %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner shadow">
         <div class="carousel-item active">
            <img class="carousel-inner-page d-block w-100" src="{% static 'media/wave.jpg' %}" alt="First slide">
            <div class="carousel-caption carousel-inner-text d-none d-md-block">
               <h1 style="text-shadow: 1px 1px 2px grey;">Área do administrador</h1>
            </div>
         </div>
      </div>
    </div>
</head>

{% block estilo %}
    <style>
        a {
            color: #337ab7;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <body class="bg-white">
    <div class="container bg-white p-2" style="margin-top: 90px;">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card-home mb-3 shadow-sm" style="align-items: center">
                    <h3 class="mt-5 text-center">Cadastro de produto</h3>

                    <p class="text-center">Clique aqui para inserir um novo produto</p>
                    <a href="{% url 'aquastore_app:cadastro' %}" class="btn btn-primary mb-5">Novo produto</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card-home mb-3 shadow-sm" style="align-items: center">
                    <h3 class="mt-5 text-center">Alteração ou exclusão de produto</h3>
                    <p class="text-center">Clique aqui para visualizar a lista de produtos e alterar ou excluir um produto existente</p>
                    <a href="{% url 'aquastore_app:adminlist' %}" class="btn btn-primary mb-5">Ver lista de produtos</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card-home mb-3 shadow-sm" style="align-items: center">
                    <h3 class="mt-5 text-center">Buscar produtos</h3>
                    <p class="text-center">Clique aqui para buscar um ou mais produtos específicos e alterar ou excluí-los</p>
                    <a href="{% url 'aquastore_app:busca' %}" class="btn btn-primary mb-5">Buscar produtos</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    {% include "base/footer.html" %}
    </body>
    <script src="{% static 'aquastore_app/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'aquastore_app/js/popper.js' %}"></script>
    <script src="{% static 'aquastore_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'aquastore_app/js/script.js' %}"></script>

{% endblock %}


