
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/header.html" %}
    <br>
</head>

{% block content %}
<div class="container mb-4" style="margin-top: 150px;">
    <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <p style="margin-bottom: 20px">Nome: {{ form.nome }}</p>
            </div>
            <div class="form-group">
                <p style="margin-bottom: 20px">Categoria: {{ form.categoria }}</p>
            </div>
            <div class="form-group">
                <p style="margin-bottom: 20px">Slug: {{ form.slug }}</p>
            </div>

            <p>Preço: {{ form.preco }}</p>
            <p>Estoque: {{ form.estoque }}</p>
            <p>Disponivel: {{ form.disponivel }}</p>
            <p style="margin-left: 12px">Imagem: {{ form.imagem }}</p>
            <div class="row">
                Descrição:
                   {{ form.descricao }}
                </div>

            <button class="btn-finalizar" type="submit">Salvar</button>

    </form>
</div>

{% include "base/footer.html" %}

{% endblock %}

<script src="{% static 'aquastore_app/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'aquastore_app/js/popper.js' %}"></script>
<script src="{% static 'aquastore_app/js/bootstrap.js' %}"></script>
<script src="{% static 'aquastore_app/js/script.js' %}"></script>

