{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/header.html" %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner shadow">
         <div class="carousel-item active">
            <img class="carousel-inner-page d-block w-100" src="{% static 'media/refract.jpg' %}" alt="First slide">
            <div class="carousel-caption carousel-inner-text d-none d-md-block">
               <h1 style="text-shadow: 1px 1px 2px grey;">Cadastro de produto</h1>
            </div>
         </div>
      </div>

   </div>
    <br>
</head>

{% block content %}
<div class="container mb-4" style="margin-top: 50px;">
    <form method="POST" novalidate>

            {% csrf_token %}

        <fieldset>
            <p>Nome: {{ form.nome }}</p>
            {% for error in form.nome.errors %}
                <p class="help" style="color: red;">{{ error }}</p>
            {% endfor %}
            <p>Categoria: {{ form.categoria }}</p>
            {% for error in form.categoria.errors %}
                <p class="help" style="color: red;">{{ error }}</p>
            {% endfor %}
            <p>Preço: {{ form.preco }}</p>
            {% for error in form.preco.errors %}
                <p class="help" style="color: red;">{{ error }}</p>
            {% endfor %}
            <p>Estoque: {{ form.estoque }}</p>
            {% for error in form.estoque.errors %}
                <p class="help" style="color: red;">{{ error }}</p>
            {% endfor %}
            <p>Disponivel: {{ form.disponivel }}</p>

            <p>Imagem: {{ form.imagem }}</p>
            {% for error in form.imagem.errors %}
                <p class="help" style="color: red;">{{ error }}</p>
            {% endfor %}
            <p>Descrição: {{ form.descricao }}</p>

        </fieldset>

            <button class="btn btn-primary" type="submit">Salvar</button>

    </form>
</div>

{% include "base/footer.html" %}

{% endblock %}

<script src="{% static 'aquastore_app/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'aquastore_app/js/popper.js' %}"></script>
<script src="{% static 'aquastore_app/js/bootstrap.js' %}"></script>
<script src="{% static 'aquastore_app/js/script.js' %}"></script>

