{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>


{% block estilo %}
    <style>
        a {
            color: #337ab7;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <body class="bg-white">
    <div class="container bg-white p-1 mb-5 " style="margin-top: 90px ;">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-md-0">
                <!-- style="min-height: 150px; min-width: 150px;" -->
                <img class="img-fluid rounded shadow-sm water-view"
                     src="{% static 'aguas/' %}{{ agua.imagem }}">
            </div>
            <div class="col-lg-6">
                <h1>{{ agua.nome }}</h1>
                <h4><a href="{{ agua.categoria.get_absolute_path }}">{{ agua.categoria }}</a></h4>
                <h1>R$ {{ agua.preco }}</h1>
                <p>{{ agua.descricao }}</p>

                 <a href="{% url 'carrinho:adicionar_produto' agua.id %}">
                     <button class="btn btn-primary shadow-sm"
                             data-toggle="modal" data-target="#confirmationModal" id="btn-compra">
                         <i class="fas fa-shopping-cart"></i>
                    Adicionar ao Carrinho</button></a>
                    <br><br>
                {% if user.is_authenticated %}
                <a href="{{ agua.atualiza }}"><button class="btn-sm shadow-sm btn btn-primary mb-5" style="align-self: center">
                    <i class="fas fa-edit"></i> Atualizar</button></a>
                <button data-toggle="modal" data-target="#deleteModal" class="btn shadow-sm btn-sm btn-danger mb-5" style="align-self: center">
                    <i class="fas fa-times-circle"></i> Excluir</button>
                {% endif %}

            </div>
        </div>

        <div class="col-lg-12">

            <h3 style="text-align:center">{% if categoria %}{{ categoria.nome }}{% endif %}</h3>
            <div class="row mb-6 p-3">
                {% for agua in aguas_lista %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <a href="{{ agua.get_absolute_path }}">
                        <div class="card-home mb-3 shadow-sm" style="align-items: center">

                                    <!-- style="max-width: 90%;" -->
                                <img class="img-fluid rounded water-product"
                                         src="{% static 'aguas/' %}{{ agua.imagem }}">
                            <h5 class="mt-3 card-title text-center">

                                    {{ agua.nome }}

                            </h5>
                            R$ {{ agua.preco }}
                            <br>

                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ótima escolha!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Produto adicionado com sucesso ao carrinho!
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Deseja realmente excluir o produto selecionado?
          </div>
            <div class="modal-footer">
                <a href="{{ agua.deleta }}">
              <button type="button" class="btn btn-danger">Sim</button>
                    </a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
             </div>

        </div>
      </div>
    </div>
    </body>
    <script src="{% static 'aquastore_app/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'aquastore_app/js/popper.js' %}"></script>
    <script src="{% static 'aquastore_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'aquastore_app/js/script.js' %}"></script>

{% endblock %}
{% block domready %}
    $("#produtos").on("click", "button.adicionar", function () {
        window.alert("AAAAAAA")
        let form = $(this).parent().prev().children('form')
        let input = $(form).children('input.quantidade')
        if (input.val() <= 0) {
            $(input).focus()
            return
        }
        let tr = $(form).parent().parent()
        let ind = $(tr).index()
        let valor_id = ids_dos_produtos[ind]
        $(form).append("<input type='hidden' name='produto_id' value='" + valor_id + "'>")
        let url = $(form).attr('action')
        let formData = $(form).serializeArray()
        $.post(url, formData, function (resposta) {
            // console.log(resposta)
            $("#carrinho").html(resposta)
            ids_dos_produtos_no_carrinho = recuperaIds(resposta)
            // console.log(ids_dos_produtos_no_carrinho)
        })
    })
{% endblock %}
{% include "base/footer.html" %}

