{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Produtos
{% endblock %}

{% block estilo %}
    <style>
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #337ab7;
        }

        a.nav-link:hover {
            background-color: #eeeeee;
        }

        a {
            color: #337ab7;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <div class="row" >

        <div class="col-lg-12">

            <h3 style="text-align:center">{% if categoria %}{{ categoria.nome }}{% endif %}</h3>
            <div class="row mb-6 p-3">
                {% for agua in aguas_lista %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <a href="{{ agua.get_absolute_path }}">
                        <div class="card-home mb-3 shadow-sm" style="align-items: center">

                                    <!-- style="max-width: 90%;" -->
                                <img class="img-fluid rounded water-product"
                                         src="{% static 'aguas/' %}{{ agua.imagem }}">
                            <h5 class="mt-3 card-title text-center">

                                    {{ agua.nome }}

                            </h5>
                            R$ {{ agua.preco }}
                            <br>
                            <br>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pagination justify-content-center">

        {% if aguas_lista.has_other_pages %}
            <nav aria-label="Navegação"></nav>
                <ul class="pagination justify-content-center">
                    {% if aguas_lista.has_previous %}
                    <li><a href="?page={{ aguas_lista.previous_page_number }}" class="page-link">&laquo; Página anterior </a></li>
                    {% endif %}
                    {% if aguas_lista.has_next %}
                    <li><a href="?page={{ aguas_lista.next_page_number }}" class="page-link"> Próxima página &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
{% endblock %}
