.bgimage {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.bg-blue {
    background-color: #cff2fc;
}

.water-product {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    padding: 3px;
}

.water-home {
    max-width: 180px;
    max-height: 180px;
    text-align: justify;
}

.card-home {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    padding:3px;
}

.carousel-home {
    max-width: 100%;
    max-height: 550px;
    padding-bottom: 0px;
}

.carousel-inner-page {
    max-width: 100%;
    max-height: 250px;
}

.carousel-inner-text {
    margin-bottom: 0px;
}

.tooltip-inner {
    max-width: 250px;
}

.media img {
    width: 120px;
    max-height: 120px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 6%;
}

.footer {
    background-color: #226699;
    color: #efefef;
    padding: 30px 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #c4d6e6;
}

.footer a:hover {
    color: #ffffff;
}

/* .texto-1 {
   font-size: 35px;
} */

/* .texto-2 {
   font-size: 30px;
} */

@media (max-width: 1100px) {
    /*    .texto-1 {
       font-size: 30px;
    } */
    /*    .texto-2 {
       font-size: 25px;
    } */
}

@media (max-width: 480px) {
    .media img {
        width: 90px;
        margin-bottom: 6px;
        border-radius: 50%;
    }

    .media-body h5 {
        padding-top: 18px;
    }

    .texto-media-body {
        /*display: none;*/
    }
}

.sticky-offset {
    top: 90px;
}

.pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover, .pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;
}