{% load static %}

{% block carousel %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner shadow">
            <div class="carousel-item active">
                <img class="carousel-home d-block w-100" src="{% static 'media/water2.jpg' %}"
                     alt="First slide">
                <div class="carousel-caption d-none d-sm-block">
                    <h1 style="text-shadow: 1px 1px 2px grey;">Água é vida.</h1>
                    <p style="text-shadow: 1px 1px 2px grey;">Confira nosso catálogo de águas</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-home d-block w-100" src="{% static 'media/wave2.jpg' %}"
                     alt="Second slide">
                <div class="carousel-caption d-none d-sm-block">
                    <h1 style="text-shadow: 1px 1px 2px grey;">Águas gourmet pelo melhor preço.</h1>
                    <p style="text-shadow: 1px 1px 2px grey;">Você só encontra na Aqua Store</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}