{% load static %}
<footer class="footer">
   <div class="container">
      <div class="text-center">
          <p>© 2019. Aqua Store® é uma marca de Lucas de Castro Lopes.
              {% if user.is_authenticated %}
                        Usuário logado: {{ user.username }} |
                  <a href="{% url 'aquastore_app:admin' %}">Área do administrador </a> |
                  <a href="{% url 'aquastore_app:logout_user' %}">Fazer logout</a>
                    {% else %}
                     <a href="{% url 'login' %}">Faça seu login</a> |
                     <a href="{% url 'aquastore_app:register' %}"> Crie sua conta</a>
                    {% endif %}
              </p>
      </div>
   </div>
</footer>