{% load static %}

<header>
    <nav class="navbar navbar-light bg-white navbar-expand-lg fixed-top border-bottom shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'media/water-icon.png' %}" style="width: 105px;"
                     alt="Aqua Store">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                    aria-expanded="false" aria-label="Botão de navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--
            <div class="collapse navbar-collapse" id="menu">

                <div class="navbar-nav mr-auto">
                    <div class="dropdown">
                        <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#"><i
                                class="fas fa-shopping-bag"></i> produtos</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="tradicionais.html">águas tradicionais</a>
                            <a class="dropdown-item" href="gourmet.html">águas gourmet</a>
                            <a class="dropdown-item" href="outros.html">utilidades e outros</a>
                        </div>
                    </div>
                </div>-->

                <div class="navbar-nav ml-auto">
                    <a class="nav-link nav-item" href="{% url 'aqua-store-app:sobre' %}">
                        <i class="fas fa-info-circle"></i> sobre nós</a>
                    <a class="nav-link nav-item" href="#pedidos">
                        <i class="fas fa-shopping-cart"></i> meus pedidos</a>
                    <a class="nav-link nav-item" href="#janelamodal">
                        <i class="fas fa-sign-in-alt"></i> entrar
                    </a>
                    <a class="nav-link nav-item" href="#cadastro">
                        <i class="fas fa-address-card"></i> admin
                    </a>
                </div>

            </div>
        </div>
    </nav>

</header>
<link href="{% static 'aqua-store-app/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'aqua-store-app/css/all.css' %}" rel="stylesheet">
<link href="{% static 'aqua-store-app/css/styles.css' %}" rel="stylesheet">
