{% load static %}
    <meta charset="UTF-8">
    <title>Aqua Store</title>
<header>
    <nav class="navbar navbar-light bg-white navbar-expand-lg fixed-top border-bottom shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'media/water-icon.png' %}" style="width: 105px;"
                     alt="Aqua Store">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                    aria-expanded="false" aria-label="Botão de navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">

                <div class="navbar-nav mr-auto">
                    <a class="nav-link nav-item" href="/cat/gourmet">
                        <i class="fas fa-glass-cheers"></i> gourmet</a>
                    <a class="nav-link nav-item" href="/cat/tradicionais">
                        <i class="fas fa-wine-bottle"></i> tradicionais</a>
                    <a class="nav-link nav-item" href="/cat/outros">
                        <i class="fas fa-tools"></i> outros</a>
                </div>

                <div class="navbar-nav ml-auto">
                    <a class="nav-link nav-item" href="{% url 'carrinho:exibe_produtos_e_carrinho' %}">
                        <i class="fas fa-shopping-cart"></i> carrinho</a>
                    <a class="nav-link nav-item" href="{% url 'aquastore_app:sobre' %}">
                        <i class="fas fa-info-circle"></i> sobre nós</a>
                </div>



            </div>
        </div>
    </nav>

</header>

<link href="{% static 'aquastore_app/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'aquastore_app/css/all.css' %}" rel="stylesheet">
<link href="{% static 'aquastore_app/css/styles.css' %}" rel="stylesheet">
