<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="assets/css/bootstrap.css" rel="stylesheet">
   <link href="assets/css/all.css" rel="stylesheet">
   <link href="assets/css/styles.css" rel="stylesheet">
   <title>Aqua Store</title>
</head>

<body class="bg-blue">
   <nav class="navbar navbar-light bg-white navbar-expand-lg fixed-top border-bottom shadow-sm">
      <div class="container">
         <a class="navbar-brand" href="index.html">
            <img src="assets/images/water-icon.png" style="width: 105px;" alt="Aqua Store">
         </a>
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Botão de navegação">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="menu">

            <div class="navbar-nav mr-auto">
               <div class="dropdown">
                  <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#"><i
                        class="fas fa-shopping-bag"></i> produtos</a>

                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="tradicionais.html">águas tradicionais</a>
                     <a class="dropdown-item" href="gourmet.html">águas gourmet</a>
                     <a class="dropdown-item" href="outros.html">utilidades e outros</a>
                  </div>
               </div>
            </div>

            <div class="navbar-nav ml-auto">

               <a class="nav-link nav-item" href="sobre.html">
                  <i class="fas fa-info-circle"></i> sobre nós
               </a>
               <a class="nav-link nav-item" href="#pedidos">
                  <i class="fas fa-shopping-cart"></i> meus pedidos</a>
               <a class="nav-link nav-item" href="#janelamodal">
                  <i class="fas fa-sign-in-alt"></i> entrar
               </a>
               <a class="nav-link nav-item" href="cadastro.html">
                  <i class="fas fa-user-plus"></i> cadastro
               </a>
            </div>

         </div>
      </div>
   </nav>
   <!--
   <img style="margin-top: 69px;" src="assets/images/panoramica1.jpg">
   -->


   <!-- inserir modal aqui-->
   <!-- FIM DO HEADER -->

   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner shadow">
         <div class="carousel-item active">
            <img class="carousel-inner-page d-block w-100" src="assets/images/water.jpg" alt="First slide">
            <div class="carousel-caption carousel-inner-text d-none d-md-block">
               <h1>Sobre nós.</h1>
               <p>Um pouco da nossa história</p>
            </div>
         </div>
      </div>

   </div>

   <div class="container bg-white shadow-lg p-3 mb-5">
      <h5 style="margin-top: 10px; text-align: center">A Aqua Store é uma loja virtual de águas, fundada em 2019, pelo
         sommelier
         de águas Lucas de Castro Lopes. <br>

         Nosso objetivo é levar para todos a saúde e a refrescância que apenas um bom copo d'água pode trazer. <br>
         Boas compras!
      </h5>


      <div class="jumbotron text-center mb-4 bg-white">
         <h6 style="margin-top: 10px; text-align: justify">Em 2017, o então estudante de Ciência da Computação Lucas de
            Castro Lopes
            foi apresentado ao mundo da degustação de águas gourmet. Inicialmente ele achou isso uma perda de tempo,
            pois "como que
            águas poderiam ter gostos distintos? É tudo água!" <br>
            No entanto, o tempo se mostrou aliado de Lucas, e pouco tempo depois, já dentro do universo das águas, teve a
            ideia de
            criar um site para apresentar as diferentes águas às pessoas do Brasil e do mundo. Assim, o embrião da Aqua
            Store
            estava nascendo.<br>
            Logo, a Aqua Store passou a ter como objetivo vender água em geral, saindo apenas do nicho das águas
            gourmet.

         </h6>
      </div>
      <h3 style="text-align: center">Degustação de águas gourmet</h3>
      <br>
      <div class="embed-responsive embed-responsive-21by9">
         <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/juf4EVFTNNE" allowfullscreen></iframe>
      </div>
      <div style="margin-top: 30px" class="jumbotron text-center mb-4 bg-white">
         <blockquote class="blockquote">
            <p>Hidrate-se!
            </p>
            <div class="blockquote-footer">
               Lucas de Castro Lopes
            </div>
         </blockquote>

      </div>
   </div>
   <footer class="footer">
      <div class="container">
         <div class="text-center">
            <h5>© 2019. Aqua Store® é uma marca de Lucas de Castro Lopes.</h5>

         </div>
      </div>
   </footer>

   <script src="assets/js/jquery-3.3.1.js"></script>
   <script src="assets/js/popper.js"></script>
   <script src="assets/js/bootstrap.js"></script>
   <script src="assets/js/script.js"></script>
</body>

</html>