{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aqua Store</title>
    {% include "base/header.html" %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <br>
</head>

<body class="bg-white">


    {% block conteudo %}

    {% endblock %}


    {% include "base/footer.html" %}

    <script src="{% static 'aquastore_app/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'aquastore_app/js/popper.js' %}"></script>
    <script src="{% static 'aquastore_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'aquastore_app/js/script.js' %}"></script>
    <script src="{% static 'aquastore_app/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'aquastore_app/js/jquery.mask.js' %}"></script>
    <script>
        $(document).ready(function(){
            {% block domready %}

            {% endblock %}
        });
    </script>
</body>

</html>
