{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/header.html" %}
    {% include "base/carousel.html" %}
    <br>
</head>
<body class="bg-blue">

    <div class="container bg-white shadow-lg p-3 mb-5">
        {% block conteudo %}

        {% endblock %}
    </div>

    {% include "base/footer.html" %}


    <script src="{% static 'produto/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'produto/js/popper.js' %}"></script>
    <script src="{% static 'produto/js/bootstrap.js' %}"></script>
    <script src="{% static 'produto/js/script.js' %}"></script>
</body>



</html>
