{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/header.html" %}
    {% include "base/bgimage.html" %}
    <br>
</head>

{% block estilo %}
    <style>
        a {
            color: #337ab7;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <body class="bg-blue">
    <div class="container bg-white shadow-lg p-3 mb-5 ">
        <div class="row">
            <div class="col-md-3 mb-3 mb-md-0">
                <!-- style="min-height: 150px; min-width: 150px;" -->
                <!--<img class="img-fluid rounded"
                     src="{% static 'produto/imagens/' %}{{ produto.imagem }}">-->
                <img class="img-fluid rounded"
                     src="{% static 'aguas/imagens/' %}{{ agua.imagem }}">
            </div>
            <div class="col-md-9">
                <h4>{{ produto.nome }}</h4>
                <h5><a href="{{ produto.categoria.get_absolute_path }}">{{ produto.categoria }}</a></h5>
                <p>R$ {{ produto.preco }}</p>
                <p>{{ produto.descricao }}</p>
            </div>
        </div>
    </div>
    {% include "base/footer.html" %}
    </body>
    <script src="{% static 'produto/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'produto/js/popper.js' %}"></script>
    <script src="{% static 'produto/js/bootstrap.js' %}"></script>
    <script src="{% static 'produto/js/script.js' %}"></script>

{% endblock %}

